body #dsdi-wrapper {
  background: #fff;
  font-family: inherit;
  padding: 30px; }
  body #dsdi-wrapper * {
    text-decoration: none;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: inherit; }
    body #dsdi-wrapper *:focus {
      outline: none; }
  body #dsdi-wrapper > .entry-header,
  body #dsdi-wrapper > .entry-content {
    margin: 0 auto; }
  body #dsdi-wrapper input[type="submit"],
  body #dsdi-wrapper .ds-button,
  body #dsdi-wrapper button {
    transition: all 0.2s;
    display: block;
    cursor: pointer;
    border: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #efefef;
    color: #515151;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    padding: 13px 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    body #dsdi-wrapper input[type="submit"].active, body #dsdi-wrapper input[type="submit"]:hover,
    body #dsdi-wrapper .ds-button.active,
    body #dsdi-wrapper .ds-button:hover,
    body #dsdi-wrapper button.active,
    body #dsdi-wrapper button:hover {
      color: #fff;
      background-color: #515151; }
  body #dsdi-wrapper .taxonomy-description,
  body #dsdi-wrapper .dsdi-directory-container {
    max-width: 1260px;
    margin: 0 auto; }
    body #dsdi-wrapper .taxonomy-description .dsdi-directory-header,
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 35px; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container {
        height: auto;
        width: 100%;
        position: static; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav {
          position: absolute;
          max-width: 100%;
          height: auto;
          width: 100%;
          z-index: 9999;
          background: #fff;
          display: flex;
          list-style: none;
          padding: 0;
          margin: 0;
          border: 1px solid #efefef;
          flex-wrap: wrap;
          -webkit-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px -2px rgba(0, 0, 0, 0.2);
          border-top: 2px solid #515151;
          margin-top: 5px; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li {
            margin: 0;
            height: auto;
            width: 100%; }
            body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li:not(:last-child),
            body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li:not(:last-child) {
              border-bottom: 1px solid #efefef; }
            body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li > a,
            body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li > a {
              display: block;
              padding: 10px 15px;
              color: #515151; }
              body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li > a:hover,
              body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li > a:hover {
                background-color: #f9f9f9;
                color: #515151; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-search-container,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container {
        height: 100%;
        width: 100%;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 35px; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form {
          height: 100%;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: flex-end; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form input[type="text"],
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form input[type="text"] {
            height: 42px;
            width: 100%;
            margin: 0 0 5px;
            color: #515151;
            border-color: #efefef; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-header .dsdi-directory-list-search-container a,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container a {
          color: #515151;
          font-weight: bold;
          border-bottom: 2px solid #515151;
          margin: 0 0 15px 0; }
    body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list,
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list {
      list-style: none;
      padding: 0;
      margin: 0; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header {
        font-weight: bold;
        position: sticky;
        top: 0;
        background: #fff; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header,
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi {
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:not(:first-child),
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi:not(:first-child),
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:not(:first-child),
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi:not(:first-child) {
          border-top: 1px solid #f9f9f9; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div,
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 10px 15px;
          min-height: 58px;
          overflow: hidden;
          text-overflow: ellipsis; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title {
            height: 100%;
            width: 100%; }
            body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title > span:last-child,
            body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title > span:last-child,
            body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title > span:last-child,
            body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title > span:last-child {
              font-weight: bold; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-directory,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-directory,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-directory,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-directory {
            height: 100%;
            width: 100%; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-number,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-number,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-number,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-number {
            height: 100%;
            width: 100%; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-contact-number,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-contact-number,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-contact-number,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-contact-number {
            justify-content: center;
            height: 100%;
            width: 100%; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-view-details,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-view-details,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-view-details,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-view-details {
            height: 100%;
            width: 100%; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:hover,
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi:hover,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:hover,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi:hover {
          transition: all 0.2s;
          border-color: #efefef; }
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:hover + .dsdi,
          body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-list > .dsdi:hover + .dsdi,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header:hover + .dsdi,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi:hover + .dsdi {
            transition: all 0.2s;
            border-color: #efefef; }
    body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-grid .ds-block,
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-grid .ds-block {
      transition: 0.4s all;
      border: 1px solid #f9f9f9; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-grid .ds-block > .dsdi-featured-image,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-grid .ds-block > .dsdi-featured-image {
        height: 150px;
        width: 100%;
        padding: 15px; }
        body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-grid .ds-block > .dsdi-featured-image > div,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-grid .ds-block > .dsdi-featured-image > div {
          height: 100%;
          width: 100%;
          background-position: center center;
          background-size: contain;
          background-repeat: no-repeat; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-grid .ds-block > .ds-block-title,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-grid .ds-block > .ds-block-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      body #dsdi-wrapper .taxonomy-description .dsdi-directory-body .dsdi-directory-grid .ds-block:hover,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-grid .ds-block:hover {
        background-color: #f9f9f9;
        border-color: #efefef; }
body.admin-bar #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header {
  top: 32px; }

@media (min-width: 992px) {
  body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container {
      height: auto;
      width: 30%; }
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li {
        height: auto;
        width: 50%; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li:nth-child(odd) {
          border-right: 1px solid #efefef; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-nav-container > .dsdi-directory-list-nav > li > a {
          padding: 10px 15px; }
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container {
      height: 100%;
      width: 70%;
      text-align: right;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-top: 0px; }
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form {
        max-width: 400px;
        align-items: center;
        justify-content: flex-end; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form input[type="text"] {
          height: 42px;
          width: 70%;
          margin: 0;
          color: #515151;
          border-right-width: 0; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container .dsdi-directory-search-form input[type="submit"] {
          height: 42px;
          width: 30%; }
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-header .dsdi-directory-list-search-container a {
        margin: 0 15px 0 0; }
  body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list {
    padding: 0;
    margin: 0; }
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header,
    body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi {
      height: 100%;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start; }
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div,
      body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        padding: 10px 15px;
        min-height: 58px; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div:first-child,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div:first-child {
          padding: 10px 15px 10px 0; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div:last-child,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div:last-child {
          padding: 10px 0 10px 15px; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-number,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-number {
          height: 100%;
          width: 15%; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title {
          height: 100%;
          width: 35%; }
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-title > span:last-child,
          body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-title > span:last-child {
            font-weight: normal; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-directory,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-directory {
          height: 100%;
          width: 35%; }
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi-directory-list-header > div.dsdi-contact-number,
        body #dsdi-wrapper .dsdi-directory-container .dsdi-directory-body .dsdi-directory-list > .dsdi > div.dsdi-contact-number {
          height: 100%;
          width: 15%; } }

/*# sourceMappingURL=style.css.map */
